@page "/"
@using Blazorise.Shared
@inject HttpClient Http

<PageTitle>Index</PageTitle>
<b>Custom Paging Grid Demo</b>
@if (employeeList == null)
{
    <p>It is loading</p>
}
else
{
    <DataGrid TItem="Emp"
          Data="@employeeList"
          ReadData="@OnReadData"
          TotalItems="@totalEmployees"
          PageSize="4"
            ShowPager
            Responsive>
    <DataGridCommandColumn />
    <DataGridColumn Field="@nameof(Emp.id)" Caption="#" Sortable="false" />
    <DataGridColumn Field="@nameof(Emp.firstName)" Caption="First Name" Editable />
        <DataGridColumn Field="@nameof(Emp.lastName)" Caption="Last Name" Editable />
        <DataGridColumn Field="@nameof(Emp.email)" Caption="Email" Editable />
        <DataGridColumn Field="@nameof(Emp.salary)" Caption="Salary" DisplayFormat="{0:C}" Editable>
    </DataGridColumn>
</DataGrid>
}

@code {
    private List<Emp> employeeList;
    private Emp selectedEmployee;
    private int totalEmployees = 5;

    protected override async Task OnInitializedAsync()
    {
        employeeList = await Http.GetFromJsonAsync<List<Emp>>("https://hub.dummyapis.com/employee?noofRecords=10&idStarts=1001");
    }
    private async Task OnReadData(DataGridReadDataEventArgs<Emp> e)
    {
        int pagenum = e.Page;
        int pagesize = e.PageSize;
        //API should be like this
        //var response = await Http.GetJsonAsync<Employee[]>( $"some-api/employees?page={e.Page}&pageSize={e.PageSize}" );
        employeeList = await Http.GetFromJsonAsync<List<Emp>>("https://hub.dummyapis.com/employee?noofRecords=10&idStarts=1001");

        //For More Details about this code snippet, Please refer this post
        //https://blazorise.com/docs/extensions/datagrid/binding-data/large-data
    }
}
